html {
    scroll-behavior: smooth;
}

.round-border {
    border-radius: 20px;
}


/* nav css */

nav {
    background-color: #e3fff3;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}


/* header css */

header {
    padding: 100px 0;
    background-color: #e3fff3;
}

header p {
    color: #ff5858;
    font-weight: bold;
}

header h1 {
    font-size: 56px;
    font-weight: bold;
}

header h1 span {
    color: #28a745;
}

header h6 {
    color: #707070;
    margin-top: 50px;
    text-align: justify;
}


/* catagories css */

#catagories {
    padding: 100px 0;
}

#catagories .box {
    background-color: #e3fff3;
    border-radius: 20px;
    box-shadow: 0 5px 10px 1px lightgrey;
    padding-top: 30px;
}

#catagories .box:hover {
    box-shadow: 0 5px 10px 5px lightgrey;
}