html {
    scroll-behavior: smooth;
}


/* similar css */

.round-border {
    border-radius: 20px;
}

section {
    padding: 100px 0;
}


/* nav css */

nav {
    background-color: #e3fff3;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

nav ul li a:hover {
    color: #000;
    border-bottom: 3px solid #28a745;
}


/* header css */

header {
    padding: 100px 0;
    background-color: #e3fff3;
}

header h1 {
    font-size: 56px;
    font-weight: bold;
}


/* catagories css */

#catagories .box {
    background-color: #e3fff3;
    border-radius: 20px;
    box-shadow: 0 5px 10px 1px lightgrey;
    padding-top: 30px;
    animation: popup 1s linear;
}

#catagories .box:hover {
    box-shadow: 0 5px 10px 5px lightgrey;
}

@keyframes popup {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: none;
        transition: 2s ease-out;
    }
}


/* courses css */

#courses h1 {
    font-weight: bold;
    border-bottom: 3px solid #28a745;
}

#courses .card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 10px 1px lightgrey;
}

#courses .card:hover {
    transform: scale(0.95);
    transition: .2s ease-out;
}

#courses .card-footer {
    background-color: transparent;
    border-top: none;
}


/* about css */

#about {
    background-color: #e3fff3;
    padding-bottom: 60px;
}

#about h1 {
    font-weight: bold;
    border-bottom: 3px solid #28a745;
}

#about h2 {
    font-weight: bold;
}

#about img {
    animation: grow 2s alternate linear infinite;
}

@keyframes grow {
    from {
        transform: perspective(1000px) rotateY(-25deg);
        filter: drop-shadow(15px 0px 2px #929292);
    }
    to {
        transform: perspective(1000px) rotateY(25deg);
        filter: drop-shadow(-15px 0 2px #929292);
    }
}


/* admission css */

#admission h1 {
    font-weight: bold;
    border-bottom: 3px solid #28a745;
}

#admission form {
    background-color: #e3fff3;
}

#admission .nav-tabs {
    border-bottom: none;
}


/* testimonial css */

#testimonial {
    background-color: #e3fff3;
    padding: 60px 0;
}

#testimonial h1 {
    font-weight: bold;
    border-bottom: 3px solid #28a745;
}

#testimonial .carousel-indicators li {
    background-color: #28a745;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


/* footer css */

footer {
    padding-top: 80px;
}

footer h1 {
    font-weight: bold;
}
